# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Optional: build folders
dist/
build/

# Optional: VS Code settings
.vscode/
